<h1>About Me</h1>

<div class="row">
    <div class="col">
        <img class="profile-pic" src="/images/brother-keers.jpg" alt="Brother Keers">
    </div>
    <div class="col">
        I love spending time outdoors, whether it's at the local park, camping, hiking, or swimming. Staying active in nature is something I really enjoy, but I also appreciate relaxing activities like watching movies with friends, playing board games, or getting lost in a good book. In my free time, I'm often working on carpentry projects or exploring other creative hobbies. Lately, I've developed a passion for travel, and I aim to explore two new countries or locations each year.
    </div>
</div>