<p class="text-center my-4 text-2xl font-semibold">I am Ashish Jain student at BYUI with experience in frontend development, particularly in Vue.js, TailwindCSS, and Python. I have a strong foundation in C#, Python, and SQL, and I'm continuously expanding my skills in ASP.NET Core, FastAPI, and Express.js.
I recently completed an internship as a frontend developer, where I collaborated in a team environment, utilized Git version control, and worked on real-world projects. Additionally, I am a Teaching Assistant for ITM 220 (SQL), reinforcing my database expertise.
Beyond coding, I balance academics, family responsibilities, and work, always striving to learn and grow. My passion lies in building scalable web applications and contributing to impactful projects.</p>
<img src="images/image-ashish.jpg" alt="My Picture" class="w-42 mx-auto border-2">

